{% extends "base.html" %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<br>
<br>
<br>
    <div class="container-sm">
      <div class='container'>
        <h1 class='Menu-title'>Log In</h1>
        <h2>Username:user</h2>
        <h2>Password: user@123</h2>

        <br>
        <form method="post" class='Menu-title'>
          {% csrf_token %}
          {{ form|crispy }}
          
          <button type="submit" class="btn btn-primary">Log In</button>
        
        </form>
      </div>
        <br>
    </div>
{% endblock content %}
